<!-- Define ejs functions -->
<% function formatDate(dateString) { const months = ["Jan", "Feb", "Mar", "Apr",
"May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]; const date = new
Date(dateString); const month = months[date.getMonth()]; const day =
date.getDate(); const year = date.getFullYear(); const formattedDate = `${month}
${day}, ${year}`; return formattedDate; } %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../icons/favicon.ico" rel="shortcut icon" />
    <title>Admins</title>
    <link rel="stylesheet" href="../../css/index.css" />
    <link rel="stylesheet" href="../../css/dashboard/dashboard.css" />
    <link rel="stylesheet" href="../../css/dashboard/admins.css" />

    <!-- Boxicons CSS -->
    <link
      flex
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- AOS Library -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ASIDE -->
    <%- include("../../parts/aside.ejs",{active:"admins"}) %>
    <!-- SECTION -->
    <section class="home-section">
      <header>
        <div class="text">Admins</div>
        <a href="/dashboard/admins/add">
          <span class="link_name">Admins List</span>
          <i class="bx bx-plus"></i>
          <!-- <i class="bx bx-undo"></i> -->
        </a>
      </header>
      <main id="admins">
        <table id="adminsTable">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Username</th>
              <th>Is Super?</th>
              <th>Is Active?</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% for(ele of admins) {%>
            <tr>
              <td><%= ele.fullName %></td>
              <td><%= ele.username %></td>
              <td class="isSuper-<%= ele.isSuper%>">
                <%= String(ele.isSuper).toUpperCase() %>
              </td>
              <td class="isActive-<%= ele.isActive%>">
                <%= String(ele.isActive).toUpperCase() %>
              </td>
              <td>
                <script>
                  String().
                </script>
                <% if(!ele.isSuper) { %>
                <form
                  action="/dashboard/admins/edit-admin/<%= ele._id %>"
                  method="get"
                  style="display: inline"
                >
                  <button type="submit" class="btn-show">Edit Admin</button>
                </form>
                <form
                  action="/dashboard/admins/delete"
                  method="post"
                  style="display: inline"
                >
                  <input type="hidden" name="adminId" value="<%= ele._id %>" />
                  <button type="submit" class="btn-delete">Delete</button>
                </form>
                <% } else {%>
                <i class="true">Super admins managed via DB</i>
                <% } %>
              </td>
            </tr>
            <%}%>
          </tbody>
        </table>
      </main>
    </section>

    <!-- AOS Library -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script>
      const viewForms = document.querySelectorAll("#viewForm");

      viewForms.forEach((f, ix) => {
        f.addEventListener("submit", (e) => {
          e.preventDefault();
          const newWindow = window.open("", "_blank");
          newWindow.location.href = f.children[0].href;
        });
      });
    </script>
  </body>
</html>
