<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../icons/favicon.ico" rel="shortcut icon" />
    <title>Media</title>
    <link rel="stylesheet" href="../../css/index.css" />
    <link rel="stylesheet" href="../../css/dashboard/dashboard.css" />
    <link rel="stylesheet" href="../../css/dashboard/content.css" />
    <link rel="stylesheet" href="../../css/dashboard/media.css" />
    <!-- Boxicons CSS -->
    <link
      flex
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- AOS Library -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <!-- ASIDE -->
    <%- include("../../parts/aside.ejs",{active:"media"}) %>
    <!-- SECTION -->
    <section class="home-section">
      <header>
        <div class="text">Media</div>
        <!-- <a href="/dashboard/brochures/upload">
          <span class="link_name">Upload</span>
          <i class="bx bx-cloud-upload"></i>
        </a> -->
      </header>
      <!-- HERE -->
      <main id="content">
        <!-- Popup -->
        <div class="edit-popup hidden">
          <div class="image-cont">
            <img src="" alt="" id="imagePreview" />
          </div>
          <div class="btns">
            <input type="file" name="" hidden />
            <button class="cancel">Cancel</button>
            <button class="apply">Apply</button>
          </div>
        </div>
        <!-- Elements -->
        <ul class="tree collapsed">
          <% Object.entries(images).forEach(([key,obj],ix)=>{ %>
          <li
            data-aos="fade-up"
            data-aos-duration="500"
            data-aos-delay="<%= 100 + 100*ix %>"
            data-aos-anchor=".ceret"
          >
            <span class="caret main caret-down"><%= key %></span>
            <ul class="nested collapsed images-ul">
              <% Object.entries(obj).forEach(([name,path])=>{ %>
              <li class="image-item">
                <div class="image-label" key="<%= key %>-<%= name %>">
                  <%= name %>
                </div>
                <div class="img-cont">
                  <img src="../../<%= path %>" alt="<%= name %>" />
                </div>
                <div class="btns">
                  <!-- <a><i class="fa-solid fa-eye"></i></a> -->
                  <a href="../../<%= path %>" download="<%name%>">
                    <i class="fa-solid fa-floppy-disk"></i>
                  </a>
                  <a class="edit-a"
                    ><i class="fa-solid fa-pen"></i>
                    <input type="file" name="" id="imageUpload" />
                  </a>
                </div>
              </li>
              <% }) %>
            </ul>
          </li>
          <% }) %>
        </ul>
      </main>
    </section>

    <script src="../../js/dashboard/mediaHandler.js"></script>
    <script src="../../js/dashboard/modalHandler.js"></script>
    <!-- AOS Library -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script>
      const activateDropDowns = () => {
        const togglers = document.querySelectorAll(".caret");
        togglers.forEach((ele) => {
          ele.addEventListener("click", function () {
            let nestedList = this.parentElement.querySelector(".nested");
            nestedList.classList.toggle("collapsed");
            this.classList.toggle("caret-down");
            nestedList.classList.toggle("opened");
          });
        });
      };
      window.onload = activateDropDowns;
    </script>
  </body>
</html>
