<% function lang(){ return `?lang=${currentLocale}` } %>
<% function isFourth(ix){ return  ix==0 } %>
<!DOCTYPE html>
<html
  lang="<%= currentLocale %>"
  dir="<%= currentLocale=='en' ? 'ltr' : 'rtl' %>"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="<%= images.FAVICON.icon %>" rel="shortcut icon" />
    <title>El-Nour Trading - Profile</title>
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- AOS Library -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- Main Style -->
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/navbar.css" />
    <link rel="stylesheet" href="css/profile.css" />
    <link rel="stylesheet" href="css/blog.css" />
    <link rel="stylesheet" href="css/banner.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <% if (currentLocale === 'ar') { %>
    <link rel="stylesheet" href="css/index-ar.css" />
    <% } %>
  </head>
  <body>
    <!-- HOME -->
    <section id="profile">
      <div class="container">
        <!-- navbar -->
        <%- include("./parts/navbar.ejs",{active:'news',base:"/"}) %>

        <!-- header -->
        <header>
          <h1
            class="title"
            data-aos="fade-up"
            data-aos-duration="600"
            class="title"
          >
            <%= t("NEWS.h1") %> <span><%= t("NEWS.span") %></span>
          </h1>

          <div class="articles-cont">
            <% for([ix,ele] of articles.entries()) { %>
            <div
            class="article <%= isFourth(ix) ? "row" : "" %>" data-aos="fade-up"
            data-aos-duration="600"
            data-aos-delay="<%= 100 + ix*100 %>"
            data-aos-anchor=".article"
            >
              <div class="cover">
                <img src="<%= ele.cover %>" class="mask" />
              </div>
              <div class="content">
                <% const title = currentLocale=="en" ? ele.title : ele.titleAr %>
                <% const desc = currentLocale=="en" ? ele.desc : ele.descAr %>
                
                <div class="title <%= isFourth(ix) ? "not-ellipsis" : "ellipsis" %>"><%= title %></div>
               
                <% if(isFourth(ix)) { %>
                  <div class="desc">
                    <%= desc.slice(0,500) %> ...
                  </div>
                  <script>
                    const descEle = document.querySelector(".content .desc")
                    window.onload = () =>{
                      if(window.innerWidth<=1111) {
                        descEle.innerHTML = descEle.innerHTML.slice(0,300) 
                      }
                      if (window.innerWidth <= 905) {
                        descEle.innerHTML = descEle.innerHTML.slice(0,100) + " ..."
                        document.querySelector(".article.row").classList.remove("row")
                        document.querySelector(".title.not-ellipsis").classList.add("ellipsis")
                      }
                    }
                  </script>
                <% } else {%>
                  <div class="desc">
                    <%= desc.slice(0,100) %> ...
                  </div>
                <%}%>
                <div style="align-self: end">
                  <a class="button" href="/blog/article/<%= ele._id %><%=lang()%>"
                    ><%= t("NEWS.view_btn") %>
                    <i class="fa-solid fa-arrow-up-right-from-square"></i
                  ></a>
                </div>
              </div>
            </div>
            <% } %>
          </div>

          <a data-aos="fade-up" data-aos-duration="600" href="/<%=lang()%>">
            <button class="btn"><%= t("PROFILE.btn") %></button>
          </a>
        </header>
      </div>
    </section>

    <!-- BANNER -->
    <%- include("./parts/banner.ejs") %>

    <!-- FOOTER -->
    <%- include("./parts/footer.ejs",{active:"news"}) %>

    <!-- Main Scripts -->
    <script src="./js/phoneNavbar.js"></script>
    <!-- AOS Library -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
