<!-- Define ejs functions -->
<% function lang(){ return `?lang=${currentLocale}` } %>

<!DOCTYPE html>
<html lang="<%= currentLocale %>" dir="<%= currentLocale=='en' ? 'ltr' : 'rtl' %>" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="<%= images.FAVICON.icon %>" rel="shortcut icon" />
    <title>El-Nour Trading</title>
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- AOS Library -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- Boxicons CSS -->
    <link
      flex
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- Swiper's CSS --> 
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <!-- Main Style -->
   
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/dashboard/login.css" />
    <link rel="stylesheet" href="./css/navbar.css" />
    <link rel="stylesheet" href="./css/home.css" />
    <link rel="stylesheet" href="./css/about.css" />
    <link rel="stylesheet" href="./css/values.css" />
    <link rel="stylesheet" href="./css/news.css" />
    <link rel="stylesheet" href="./css/history.css" />
    <link rel="stylesheet" href="./css/transportation.css" />
    <link rel="stylesheet" href="./css/services.css" />
    <link rel="stylesheet" href="./css/gallery.css" />
    <link rel="stylesheet" href="./css/contact.css" />
    <link rel="stylesheet" href="./css/questions.css" />
    <link rel="stylesheet" href="./css/footer.css" />
    <% if (currentLocale === 'ar') { %>
      <link rel="stylesheet" href="./css/index-ar.css">
    <% } %>
  </head>
  <body>
    <!-- HOME -->
    <section id="home">
      <div class="container">
        <!-- alternative bg -->
        <img src="<%= images.HOME.alt_bg %>" alt="el-nour trading" class="alt-bg" />
        <!-- vidoe bg -->
        <video
          class="video-bg"
          src="<%= images.HOME.bg_vid.src %>"
          muted
          loop
          autoplay
        ></video>
        <!-- grady bg -->
        <img class="grady-bg" src="<%= images.HOME.gradient %>" alt="" />
        <!-- circles -->
        <div class="circle right"></div>
        <div class="circle left"></div>

        <!-- navbar -->
       <%- include("./parts/navbar.ejs",{base:""}) %>

        <!-- header -->
        <header>
          <h1 data-aos="zoom-out-down" data-aos-duration="700">
            <span>
              <%= t('HOME.span') %>
            </span>
            <%= t('HOME.h1') %>
          </h1>
          <p
            data-aos="zoom-out-down"
            data-aos-duration="700"
            data-aos-delay="200"
          >
          <%= t('HOME.p') %>
          </p>
          <a
            href="#about"
            data-aos="zoom-out-down"
            data-aos-duration="700"
            data-aos-delay="400"
          >
            <button class="btn"><%= t('HOME.btn') %></button>
          </a>
          <i class="fa-solid fa-circle-pause video-btn-controller "></i>
        
        </header>
      </div>
    </section>

    <!-- ABOUT -->
    <section id="about">
      <div class="container">
        <div
          class="left"
          data-aos="fade-right"
          data-aos-duration="600"
          data-aos-delay="100"
        >
          <img class="horiz" src="<%= images.ABOUT.horiz_img %>" alt="trucks" />
          <img class="vert" src="<%= images.ABOUT.vert_img %>" alt="elnour-trading" />
        </div>

        <div class="right">
          <h1
            class="section-title"
            class="section-title"
            data-aos="fade-right"
            data-aos-duration="600"
          >
          <%= t("ABOUT.name") %>
          </h1>
          <h1
            class="title"
            data-aos="fade-right"
            data-aos-duration="600"
            class="title"
          >
          <%= t("ABOUT.pre-span") %><span> <%= t("ABOUT.span") %> </span><%= t("ABOUT.post-span") %>
          </h1>
          <p data-aos="fade-right" data-aos-duration="600" data-aos-delay="100">
            <%= t("ABOUT.p") %>
          </p>
          <a
            data-aos="fade-right"
            data-aos-duration="600"
            data-aos-delay="100"
            href="/vision<%=lang()%>"
          >
            <button class="btn"><%= t("ABOUT.btn") %></button>
          </a>
        </div>
      </div>
    </section>

    <!-- VALUES -->
    <section id="values">
      <div class="container">
        <!-- values -->
        <div class="card-cont" data-aos="fade-up" data-aos-duration="600">
          <div class="icon">
            <img class="icon-img" src="./icons/diamond.svg" alt="our values" />
          </div>
          <div class="card">
            <div class="card-face front">
              <h1 class="title"><%= t("VALUES.values-card.h1") %> <span><%= t("VALUES.values-card.span") %></span></h1>
              <p class="view-btn view-more"><%= t("VALUES.values-card.more-btn") %></p>
            </div>
            <div class="card-face back">
              <p>
                <%= t("VALUES.values-card.p") %>
              </p>
              <p class="view-btn view-less"><%= t("VALUES.values-card.less-btn") %></p>
            </div>
          </div>
        </div>
        <!-- mission -->
        <div
          class="card-cont"
          data-aos="fade-up"
          data-aos-duration="600"
          data-aos-delay="100"
        >
          <div class="icon">
            <img class="icon-img" src="./icons/mission.svg" alt="our mission" />
          </div>
          <div class="card">
            <div class="card-face front">
              <h1 class="title"><%= t("VALUES.mission-card.h1") %> <span><%= t("VALUES.mission-card.span") %></span></h1>
              <p class="view-btn view-more"><%= t("VALUES.mission-card.more-btn") %></p>
            </div>
            <div class="card-face back">
              <p>
                <%= t("VALUES.mission-card.p") %>
              </p>
              <p class="view-btn view-less"><%= t("VALUES.mission-card.less-btn") %></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- NEWS -->
    <section id="about" class="news">
      <div class="container">
        <div class="right">
          <h1
            class="section-title"
            class="section-title"
            data-aos="fade-right"
            data-aos-duration="600"
          >
          <%= t("NEWS.name") %>
          </h1>
          <h1
            class="title"
            data-aos="fade-right"
            data-aos-duration="600"
            class="title"
          >
          <%= t("NEWS.h1") %> <span> <%= t("NEWS.span") %> </span></h1>
          <p data-aos="fade-right" data-aos-duration="600" data-aos-delay="100">
        <%= t("NEWS.p") %>
          </p>
          <a
            data-aos="fade-right"
            data-aos-duration="600"
            data-aos-delay="100"
            href="/blog<%=lang()%>"
          >
            <button class="btn"><%= t("NEWS.home_btn") %></button>
          </a>
        </div>
        <div
          class="left"
          data-aos="fade-right"
          data-aos-duration="600"
          data-aos-delay="100"
        >
       <img src="<%= images.NEWS.main %>" alt="">
        </div>

      </div>
    </section>

    <!-- HISTORY -->
    <section id="history">
      <!-- Swiper -->
      <div class="swiper-container mySwiper-history">
        <div class="swiper-wrapper">
          <!-- slide 1 -->
          <div
            class="swiper-slide"
            style="background-image: url('<%= images.HISTORY.slide1 %>')"
          >
            <div class="container">
              <h1 data-aos="zoom-out-down" data-aos-duration="500">
                <%= t("HISTORY.slide1.date") %>
              </h1>
              <h2 data-aos="zoom-out-down" data-aos-duration="700">
                <%= t("HISTORY.slide1.h1") %>
              </h2>
              <p
                data-aos="zoom-out-down"
                data-aos-duration="700"
                data-aos-delay="100"
              >
              <%= t("HISTORY.slide1.p") %>
              </p>
            </div>
          </div>
          <!-- slide 2 -->
          <div
            class="swiper-slide"
            style="background-image: url('<%= images.HISTORY.slide2 %>')"
          >
          <div class="container">
            <h1>
              <%= t("HISTORY.slide2.date") %>
            </h1>
            <h2>
              <%= t("HISTORY.slide2.h1") %>
            </h2>
            <p>
            <%= t("HISTORY.slide2.p") %>
            </p>
          </div>
          </div>
          <!-- slide 3 -->
          <div
            class="swiper-slide"
            style="background-image: url('<%= images.HISTORY.slide3 %>')"
          >
          <div class="container">
            <h1>
              <%= t("HISTORY.slide2.date") %>
            </h1>
            <h2>
              <%= t("HISTORY.slide2.h1") %>
            </h2>
            <p
            >
            <%= t("HISTORY.slide2.p") %>
            </p>
          </div>
          </div>
          <!-- slide 4 -->
          <div
            class="swiper-slide"
            style="background-image: url('<%= images.HISTORY.slide4 %>')"
          >
          <div class="container">
            <h1>
              <%= t("HISTORY.slide4.date") %>
            </h1>
            <h2>
              <%= t("HISTORY.slide4.h1") %>
            </h2>
            <p>
            <%= t("HISTORY.slide4.p") %>
            </p>
          </div>
          </div>
          <!-- slide 5 -->
          <div
            class="swiper-slide"
            style="background-image: url('<%= images.HISTORY.slide5 %>')"
          >
          <div class="container">
            <h1>
              <%= t("HISTORY.slide5.date") %>
            </h1>
            <h2>
              <%= t("HISTORY.slide5.h1") %>
            </h2>
            <p
            >
            <%= t("HISTORY.slide5.p") %>
            </p>
          </div>
          </div>
        </div>
        <div
          data-aos="fade-left"
          data-aos-duration="500"
          class="swiper-pagination-history"
        ></div>
      </div>
    </section>

    <!-- TRANSPORTATION -->
    <section id="transportation">
      <div class="container">
        <img class="transport-bg" src="<%= images.TRANSPORTATION.bg %>" alt="" />
        <img
          class="transport-bg"
          src="<%= images.TRANSPORTATION.gradient %>"
          alt=""
          style="opacity: 0.8"
        />
        <div class="main">
          <h1
            class="section-title"
            class="section-title"
            data-aos="fade-right"
            data-aos-duration="600"
          >
          <%= t("TRANSPORTATION.name") %>
          </h1>
          <h1
            class="title"
            data-aos="fade-right"
            data-aos-duration="600"
            class="title"
          >
          <%= t("TRANSPORTATION.h1_first") %>
          <span><%= t("TRANSPORTATION.span_first") %></span>
          <br />
          <%= t("TRANSPORTATION.h1_second") %>  
          <span><%= t("TRANSPORTATION.span_second") %></span>
          </h1>
          <p data-aos="fade-right" data-aos-duration="600" data-aos-delay="100">
            <%= t("TRANSPORTATION.p") %>
          </p>
          <a
            data-aos="fade-right"
            data-aos-duration="600"
            data-aos-delay="100"
            href="#contact"
            style="margin-top: 30px"
          >
            <button class="btn"><%= t("TRANSPORTATION.btn") %></button>
          </a>
        </div>
      </div>
    </section>

    <!-- SERVICES -->
    <section id="services">
      <div class="container">
        <div class="top">
          <h1
            class="section-title"
            data-aos="fade-right"
            data-aos-duration="600"
          >
          <%= t("PRODUCTS.title") %>
          </h1>
          <a href="#contact" data-aos="fade-left" data-aos-duration="600">
            <button class="btn outline"><%= t("PRODUCTS.contactBtn") %></button>
          </a>
        </div>
        <div class="bottom">
          <div class="item" data-aos="flip-left" data-aos-duration="700">
            <div class="icon">
              <img
                class="icon-img"
                src="<%= images.PRODUCTS.prod1 %>"
                alt="wheat"
              />
            </div>
            <h1><%= t("PRODUCTS.product1.name") %></h1>
            <p>
              <%= t("PRODUCTS.product1.desc") %>
            </p>
            <img
              class="service-icon-shadow"
              src="<%= images.PRODUCTS.prod1 %>"
              alt="wheat"
            />
          </div>

          <div class="item" data-aos="flip-left" data-aos-duration="700">
            <div class="icon">
              <img class="icon-img" src="<%= images.PRODUCTS.prod2 %>" alt="corn" />
            </div>
            <h1><%= t("PRODUCTS.product2.name") %></h1>
            <p>
              <%= t("PRODUCTS.product2.desc") %>
            </p>
            <img
              class="service-icon-shadow"
              src="<%= images.PRODUCTS.prod2 %>"
              alt="corn"
            />
          </div>

          <div class="item" data-aos="flip-left" data-aos-duration="700">
            <div class="icon">
              <img
                class="icon-img"
                src="<%= images.PRODUCTS.prod3 %>"
                alt="sunflower"
              />
            </div>
            <h1><%= t("PRODUCTS.product3.name") %></h1>
            <p>
              <%= t("PRODUCTS.product3.desc") %>
            </p>
            <img
              class="service-icon-shadow"
              src="<%= images.PRODUCTS.prod3 %>"
              alt="sunflower"
            />
          </div>

          <div class="item" data-aos="flip-left" data-aos-duration="700">
            <div class="icon">
              <img
                class="icon-img"
                src="<%= images.PRODUCTS.prod4 %>"
                alt="soybean seed"
              />
            </div>
            <h1><%= t("PRODUCTS.product4.name") %></h1>
            <p>
              <%= t("PRODUCTS.product4.desc") %>
            </p>
            <img
              class="service-icon-shadow"
              src="<%= images.PRODUCTS.prod4 %>"
              alt="oil"
            />
          </div>

          <div class="item" data-aos="flip-left" data-aos-duration="700">
            <div class="icon">
              <img class="icon-img" src="<%= images.PRODUCTS.prod5 %>" alt="soybean" />
            </div>
            <h1><%= t("PRODUCTS.product5.name") %></h1>
            <p>
              <%= t("PRODUCTS.product5.desc") %>
            </p>
            <img
              class="service-icon-shadow"
              src="<%= images.PRODUCTS.prod5 %>"
              alt="soybean"
            />
          </div>
        </div>
      </div>
    </section>

    <!-- GALLERY -->
    <section id="gallery">
      <div class="container">
        <!-- section-title -->
        <h1
          class="section-title"
          class="section-title"
          data-aos="fade-right"
          data-aos-duration="600"
        >
        <%= t("GALLERY.name") %>
        </h1>
        <!-- main-title -->
        <h1
          class="title"
          data-aos="fade-right"
          data-aos-duration="600"
          class="title"
        >
        <%= t("GALLERY.h1") %> <span><%= t("GALLERY.span") %></span>
        </h1>
        <!-- swiper -->
        <div
          class="swiper-container mySwiper-gallery"
          data-aos="fade-up"
          data-aos-duration="600"
          data-aos-delay="200"
        >
          <div class="swiper-wrapper">
            <% for(let i=0;i<Math.min(10,galleryImgs.length);i++){ %>
            <div class="swiper-slide">
              <img
                class="bg-img"
                src="<%= galleryImgs[i].path %>"
                alt="gallery"
              />
              <img
                class="main-img"
                src="<%= galleryImgs[i].path %>"
                alt="gallery"
              />
            </div>

            <% } %>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <!-- button -->
        <a
          href="/gallery<%=lang()%>"
          data-aos="fade-left"
          data-aos-duration="600"
          class="a-btn"
        >
          <button class="btn"><%= t("GALLERY.btn") %></button>
        </a>
      </div>
    </section>

    <!-- CONTACT -->
    <section id="contact">
      <div class="container">
        <div class="top">
          <!-- section-title -->
          <h1
            class="section-title"
            class="section-title"
            data-aos="fade-right"
            data-aos-duration="600"
          >
          <%= t("CONTACT.name") %>
          </h1>
          <!-- main-title -->
          <h1
            class="title"
            data-aos="fade-right"
            data-aos-duration="600"
            class="title"
          >
          <%= t("CONTACT.h1") %> <span><%= t("CONTACT.span") %></span>
          </h1>
        </div>
        <div class="middle">
          <!-- LIST -->
          <form
          data-aos="flip-left"
          data-aos-duration="600"
          action="/messages"
          method="POST"
          class="form login contact"
        >
          <!-- Title en -->
          <div class="form__field">
            <label for="login__username">
              <i class='bx bxs-user-circle'></i>
              </label
            >
            <input
              autocomplete="off"
              id="login__username"
              type="text"
              name="name"
              class="form__input"
              placeholder="Name"
              required
            />
          </div>
          <!-- Title ar -->
          <div class="form__field">
            <label for="login__username">
              <i class='bx bxs-envelope' ></i></label
            >
            <input
              autocomplete="off"
              id="login__username"
              type="email"
              name="email"
              class="form__input"
              placeholder="Email"
              required
            />
          </div>
          <!-- Desc en -->
          <div class="form__field">
            <label for="login__username">
              <i class='bx bxs-message'></i>
            </label >
            <textarea
              cols="30"
              rows="10"
              style="resize: none"
              autocomplete="off"
              id="login__username"
              type="text"
              name="msg"
              class="form__input"
              placeholder="Message"
              required
            ></textarea>
          </div>



          <div class="form__field">
            <input class="btn" type="submit" value="Send" />
          </div>
        </form>
          <!-- MAP -->
          <iframe
            class="right"
            src="<%= t("CONTACT.map_location") %>"
            allowfullscreen=""
            referrerpolicy="no-referrer-when-downgrade"
            data-aos="flip-right"
            data-aos-duration="600"
      
          ></iframe>
        </div>
        <div class="bottom">
          <ul
          class="left"
          data-aos="fade-up"
          data-aos-duration="600"
        >
          <!-- location -->
          <li class="location">
            <div class="head">
              <div class="icon">
                <img src="./icons/location-dot-solid.svg" />
              </div>
              <h1><%= t("CONTACT.location.title") %></h1>
            </div>
            <ul>
              <li><%= t("CONTACT.location.content") %></li>
            </ul>
          </li>
          <!-- phone -->
          <li class="phone">
            <div class="head">
              <div class="icon">
                <img src="./icons/phone-solid.svg" />
              </div>
              <h1><%= t("CONTACT.phone.title") %></h1>
            </div>
            <ul>
              <li>
                <%= t("CONTACT.phone.ele1_job") %> : <%= t("CONTACT.phone.ele1_name") %><br />Mob:
                <a href="tel:<%= t("CONTACT.phone.ele1_num") %>"> <%= t("CONTACT.phone.ele1_num") %> </a>
              </li>
              <li>
                <%= t("CONTACT.phone.ele2_job") %> : <%= t("CONTACT.phone.ele2_name") %><br />Mob:
                <a href="tel:<%= t("CONTACT.phone.ele2_num") %>"> <%= t("CONTACT.phone.ele2_num") %> </a>
              </li>
              <li>
                <%= t("CONTACT.phone.ele3_job") %> : <%= t("CONTACT.phone.ele3_name") %><br />Mob:
                <a href="tel:<%= t("CONTACT.phone.ele3_num") %>"> <%= t("CONTACT.phone.ele3_num") %> </a>
              </li>
            </ul>
          </li>
          <!-- social -->
          <li class="social">
            <div class="head">
              <div class="icon">
                <img src="./icons/facebook-f.svg" />
              </div>
              <h1>
                <a
                  style="color: var(--white)"
                  target="_blank"
                  href="<%= t("CONTACT.social.url") %>"
                  ><%= t("CONTACT.social.title") %></a
                >
              </h1>
            </div>
          </li>
        </ul>
        </div>
      </div>
    </section>

    <!-- QUESTIONS -->
    <section id="questions">
      <div class="container">
        <div class="left">
          <h1
            class="title"
            data-aos="fade-right"
            data-aos-duration="600"
            class="title"
          >
          <%= t("QUESTIONS.h1") %> <span>  <%= t("QUESTIONS.h1_span") %></span>
          </h1>
          <p
            class="title"
            data-aos="fade-right"
            data-aos-duration="600"
            data-aos-delay="100"
          >
          <%= t("QUESTIONS.h1_p") %>
          </p>
        </div>
        <div class="right">
          <form
            action=""
            data-aos="fade-left"
            data-aos-duration="600"
            data-aos-delay="100"
          >
            <input type="" placeholder="Enter your email" />
            <a href="mailto:info@elnourtrading.com">
              <button class="btn">  <%= t("QUESTIONS.btn") %></button>
            </a>
          </form>
          <p data-aos="fade-up" data-aos-duration="600" data-aos-delay="100">
            <%= t("QUESTIONS.form_p") %><span>   <%= t("QUESTIONS.form_span") %></span>
          </p>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <%- include("./parts/footer.ejs",{base:""}) %>

    <!-- Main Scripts -->
    <script src="./js/cardsHandler.js"></script>
    <script src="./js/videoController.js"></script>
    <script src="./js/phoneNavbar.js"></script>

    <!-- AOS Library -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize Swipers-->
    <script>
      // History swipper
      var historySwiper = new Swiper(".mySwiper-history", {
        direction: "vertical",
        slidesPerView: 1,
        spaceBetween: 30,
        autoplay: false,
        pagination: {
          el: ".swiper-pagination-history",
          clickable: true,
        },
        allowTouchMove: window.innerWidth > 768,
        grabCursor: window.innerWidth > 768,
      });
      // Gallery swipper
      var gallerySwiper = new Swiper(".mySwiper-gallery", {
        autoHeight: true,
        spaceBetween: 20,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        breakpoints: {
          696: {
            slidesPerView: 1,
          },

          992: {
            slidesPerView: 2,
          },
        },
      });
      // News swipper
      var newsSwiper = new Swiper(".mySwiper-news", {
        autoHeight: true,
        spaceBetween: 25,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        breakpoints: {
          800: {
            slidesPerView: 1,
          },
          1000: {
            slidesPerView: 2,
          },
          1200: {
            slidesPerView: 3,
          },
        },
      });
    </script>
    <script>
      const transBtn = document.querySelector(".trans-btn");
      // Directly using the current URL of the browser
      const params = new URLSearchParams(window.location.search);
      const baseUrl = window.location.origin + window.location.pathname;
      const lang = params.get('lang');
      console.log(lang);
      // 
      if (lang=="ar"){
        transBtn.setAttribute("href",`${baseUrl}?lang=en`)
        }
        else{
        transBtn.setAttribute("href",`${baseUrl}?lang=ar`)
      }
    </script>
  </body>
</html>
