<!-- Define ejs functions -->
<% function lang(){ return `?lang=${currentLocale}` } %>

<!DOCTYPE html>
<html lang="<%= currentLocale %>" dir="<%= currentLocale=='en' ? 'ltr' : 'rtl' %>" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="<%= images.FAVICON.icon %>" rel="shortcut icon" />
    <title>El-Nour Trading</title>
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- AOS Library -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- Boxicons CSS -->
    <link
      flex
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- Swiper's CSS --> 
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <!-- Main Style -->
   
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/dashboard/login.css" />
    <link rel="stylesheet" href="./css/navbar.css" />
    <link rel="stylesheet" href="./css/home.css" />
    <link rel="stylesheet" href="./css/about.css" />
    <link rel="stylesheet" href="./css/values.css" />
    <link rel="stylesheet" href="./css/news.css" />
    <link rel="stylesheet" href="./css/history.css" />
    <link rel="stylesheet" href="./css/transportation.css" />
    <link rel="stylesheet" href="./css/contact.css" />
    <link rel="stylesheet" href="./css/questions.css" />
    <link rel="stylesheet" href="./css/footer.css" />
    <% if (currentLocale === 'ar') { %>
      <link rel="stylesheet" href="./css/index-ar.css">
    <% } %>
  </head>
  <body>
    <!-- HOME -->
    <section id="home">
      <div class="container">
        <!-- alternative bg -->
        <img src="<%= images.HOME.alt_bg %>" alt="el-nour trading" class="alt-bg" />
        <!-- vidoe bg -->
        <video
          class="video-bg"
          src="<%= images.HOME.bg_vid.src %>"
          muted
          loop
          autoplay
        ></video>
        <!-- grady bg -->
        <img class="grady-bg" src="<%= images.HOME.gradient %>" alt="" />
        <!-- circles -->
        <div class="circle right"></div>
        <div class="circle left"></div>

        <!-- navbar -->
       <%- include("./parts/navbar.ejs",{active:'home',base:""}) %>

        <!-- header -->
        <header>
          <h1 data-aos="zoom-out-down" data-aos-duration="700">
            <span>
              <%= t('HOME.span') %>
            </span>
            <%= t('HOME.h1') %>
          </h1>
          <p
            data-aos="zoom-out-down"
            data-aos-duration="700"
            data-aos-delay="200"
          >
          <%= t('HOME.p') %>
          </p>
          <a
            href="#about"
            data-aos="zoom-out-down"
            data-aos-duration="700"
            data-aos-delay="400"
          >
            <button class="btn"><%= t('HOME.btn') %></button>
          </a>
          <i class="fa-solid fa-circle-pause video-btn-controller "></i>
        
        </header>
      </div>
    </section>

    <!-- NEWS -->
    <section id="about" class="news">
      <div class="container">
        <div class="right">
          <h1
            class="section-title"
            class="section-title"
            data-aos="fade-right"
            data-aos-duration="600"
          >
          <%= t("NEWS.name") %>
          </h1>
          <h1
            class="title"
            data-aos="fade-right"
            data-aos-duration="600"
            class="title"
          >
          <%= t("NEWS.h1") %> <span> <%= t("NEWS.span") %> </span></h1>
          <p data-aos="fade-right" data-aos-duration="600" data-aos-delay="100">
        <%= t("NEWS.p") %>
          </p>
          <a
            data-aos="fade-right"
            data-aos-duration="600"
            data-aos-delay="100"
            href="/blog<%=lang()%>"
          >
            <button class="btn"><%= t("NEWS.home_btn") %></button>
          </a>
        </div>
        <div
          class="left"
          data-aos="fade-right"
          data-aos-duration="600"
          data-aos-delay="100"
        >
       <img src="<%= images.NEWS.main %>" alt="">
        </div>

      </div>
    </section>

    <!-- CONTACT -->
    <section id="contact">
      <div class="container">
        <%- include("./parts/notification.ejs") %>
        <div class="top">
          <!-- section-title -->
          <h1
            class="section-title"
            class="section-title"
            data-aos="fade-right"
            data-aos-duration="600"
          >
          <%= t("CONTACT.name") %>
          </h1>
          <!-- main-title -->
          <h1
            class="title"
            data-aos="fade-right"
            data-aos-duration="600"
            class="title"
          >
          <%= t("CONTACT.h1") %> <span><%= t("CONTACT.span") %></span>
          </h1>
        </div>
        <div class="middle">
          <!-- LIST -->
          <form
          data-aos="flip-left"
          data-aos-duration="600"
          class="form login contact"
          lang="<%=currentLocale%>"
        >
          <!-- Title en -->
          <div class="form__field">
            <label for="login__username">
              <i class='bx bxs-user-circle'></i>
              </label
            >
            <input
              autocomplete="off"
              id="login__username"
              type="text"
              name="name"
              class="form__input"
              placeholder="<%= t("CONTACT.form.name_placeholder")%>"
              required
            />
          </div>
          <!-- Title ar -->
          <div class="form__field">
            <label for="login__username">
              <i class='bx bxs-envelope' ></i></label
            >
            <input
              autocomplete="off"
              id="login__username"
              type="email"
              name="email"
              class="form__input"
              placeholder="<%= t("CONTACT.form.email_placeholder")%>"
              required
            />
          </div>
          <!-- Desc en -->
          <div class="form__field">
            <label for="login__username">
              <i class='bx bxs-message'></i>
            </label >
            <textarea
              cols="30"
              rows="10"
              style="resize: none"
              autocomplete="off"
              id="login__username"
              type="text"
              name="msg"
              class="form__input"
              placeholder="<%= t("CONTACT.form.msg_placeholder")%>"
              required
            ></textarea>
          </div>



          <div class="form__field">
            <input class="btn" type="submit" value="<%= t("CONTACT.form.btn")%>" />
          </div>
        </form>
          <!-- MAP -->
          <iframe
            class="right"
            src="<%= t("CONTACT.map_location") %>"
            allowfullscreen=""
            referrerpolicy="no-referrer-when-downgrade"
            data-aos="flip-right"
            data-aos-duration="600"
      
          ></iframe>
        </div>
        <div class="bottom">
          <ul
          class="left"
          data-aos="fade-up"
          data-aos-duration="600"
        >
          <!-- location -->
          <li class="location">
            <div class="head">
              <div class="icon">
                <img src="./icons/location-dot-solid.svg" />
              </div>
              <h1><%= t("CONTACT.location.title") %></h1>
            </div>
            <ul>
              <li><%= t("CONTACT.location.content") %></li>
            </ul>
          </li>
          <!-- phone -->
          <li class="phone">
            <div class="head">
              <div class="icon">
                <img src="./icons/phone-solid.svg" />
              </div>
              <h1><%= t("CONTACT.phone.title") %></h1>
            </div>
            <ul>
              <li>
                <%= t("CONTACT.phone.ele1_job") %> : <%= t("CONTACT.phone.ele1_name") %><br />Mob:
                <a href="tel:<%= t("CONTACT.phone.ele1_num") %>"> <%= t("CONTACT.phone.ele1_num") %> </a>
              </li>
              <li>
                <%= t("CONTACT.phone.ele2_job") %> : <%= t("CONTACT.phone.ele2_name") %><br />Mob:
                <a href="tel:<%= t("CONTACT.phone.ele2_num") %>"> <%= t("CONTACT.phone.ele2_num") %> </a>
              </li>
              <li>
                <%= t("CONTACT.phone.ele3_job") %> : <%= t("CONTACT.phone.ele3_name") %><br />Mob:
                <a href="tel:<%= t("CONTACT.phone.ele3_num") %>"> <%= t("CONTACT.phone.ele3_num") %> </a>
              </li>
            </ul>
          </li>
          <!-- social -->
          <li class="social">
            <div class="head">
              <div class="icon">
                <img src="./icons/facebook-f.svg" />
              </div>
              <h1>
                  <%= t("CONTACT.social.title") %>
              </h1>
            </div>
              <ul class="social-links">
                <li>
                  <a href="<%= t("CONTACT.social.url_1") %>" target="_blanked">
                    - <%= t("CONTACT.social.url_name_1") %>
                  </a>
                </li>
                <li>
                  <a href="<%= t("CONTACT.social.url_2") %>" target="_blanked">
                    - <%= t("CONTACT.social.url_name_2") %>
                  </a>
                </li>
                <li>
                  <a href="<%= t("CONTACT.social.url_3") %>" target="_blanked">
                    - <%= t("CONTACT.social.url_name_3") %>
                  </a>
                </li>
                <li>
                  <a href="<%= t("CONTACT.social.url_4") %>" target="_blanked">
                    - <%= t("CONTACT.social.url_name_4") %>
                  </a>
                </li>
                <li>
                  <a href="<%= t("CONTACT.social.url_5") %>" target="_blanked">
                    - <%= t("CONTACT.social.url_name_5") %>
                  </a>
                </li>
              </ul>
          </li>
        </ul>
        </div>
      </div>
    </section>

    <!-- QUESTIONS -->
    <section id="questions">
      <div class="container">
        <div class="left">
          <h1
            class="title"
            data-aos="fade-right"
            data-aos-duration="600"
            class="title"
          >
          <%= t("CAREERS.pre_main_span") %> <span><%= t("CAREERS.main_span") %></span> <%= t("CAREERS.post_main_span") %>
          </h1>
          <p
            class="title"
            data-aos="fade-right"
            data-aos-duration="600"
            data-aos-delay="200"
          >
          <%= t("CAREERS.main_p") %>
          </p>
          <a style="display: block;" class="title"
          data-aos="fade-right"
          data-aos-duration="600"
          data-aos-delay="400" href="/careers?lang=<%= currentLocale%>">
            <button class="btn"><%= t("CAREERS.main_btn") %></button>
          </a>
        </div>
        <div class="right">
          <div class="label orange" data-aos="fade-up" data-aos-duration="600" >
            <i class="fa-brands fa-aws"></i>
            devops engineer
          </div>
          <div class="label purple" data-aos="fade-up" data-aos-duration="600">
            <i class="fa-brands fa-node-js"></i>
            Web developer
          </div>
          <img data-aos="fade-up" data-aos-duration="600" class="job-model" src="../imgs/job-model.png" alt="">
          <div data-aos="fade-up" style="display: block;" data-aos-duration="600" data-aos-delay="300" class="cube-bg"></div>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <%- include("./parts/footer.ejs",{active:"home"}) %>

    <!-- Main Scripts -->
    <script src="./js/cardsHandler.js"></script>
    <script src="./js/videoController.js"></script>
    <script src="./js/phoneNavbar.js"></script>
    <script src="./js/contactForm.js"></script>

    <!-- AOS Library -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <!-- Lang -->
    <script>
      const transBtn = document.querySelector(".trans-btn");
      // Directly using the current URL of the browser
      const params = new URLSearchParams(window.location.search);
      const baseUrl = window.location.origin + window.location.pathname;
      const lang = params.get('lang');
      console.log(lang);
      // 
      if (lang=="ar"){
        transBtn.setAttribute("href",`${baseUrl}?lang=en`)
        }
        else{
        transBtn.setAttribute("href",`${baseUrl}?lang=ar`)
      }
    </script>
  </body>
</html>
