<% function lang(){ return `?lang=${currentLocale}` } %>
<!DOCTYPE html>
<html
  lang="<%= currentLocale %>"
  dir="<%= currentLocale=='en' ? 'ltr' : 'rtl' %>"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="<%= images.FAVICON.icon %>" rel="shortcut icon" />
    <title>El-Nour Trading - Vision</title>
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <!-- AOS Library -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <!-- Main Style -->
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/navbar.css" />
    <link rel="stylesheet" href="./css/vision.css" />
    <link rel="stylesheet" href="./css/about.css" />
    <link rel="stylesheet" href="./css/values.css" />
    <link rel="stylesheet" href="./css/history.css" />
    <link rel="stylesheet" href="./css/profile.css" />
    <link rel="stylesheet" href="./css/banner.css" />
    <link rel="stylesheet" href="./css/footer.css" />
    <% if (currentLocale === 'ar') { %>
    <link rel="stylesheet" href="./css/index-ar.css" />
    <% } %>
  </head>
  <body>
    <!-- ABOUT -->
    <section id="about">
      <div style="width: 80%; margin: auto">
        <%- include("./parts/navbar.ejs",{active:"", base:"/"}) %>
      </div>
      <div class="container">
        <div
          class="left"
          data-aos="fade-right"
          data-aos-duration="600"
          data-aos-delay="100"
        >
          <img class="horiz" src="<%= images.ABOUT.horiz_img %>" alt="trucks" />
          <img
            class="vert"
            src="<%= images.ABOUT.vert_img %>"
            alt="elnour-trading"
          />
        </div>

        <div class="right">
          <h1
            class="section-title"
            class="section-title"
            data-aos="fade-right"
            data-aos-duration="600"
          >
            <%= t("ABOUT.name") %>
          </h1>
          <h1
            class="title"
            data-aos="fade-right"
            data-aos-duration="600"
            class="title"
          >
            <%= t("ABOUT.pre-span") %><span> <%= t("ABOUT.span") %> </span><%=
            t("ABOUT.post-span") %>
          </h1>
          <p data-aos="fade-right" data-aos-duration="600" data-aos-delay="100">
            <%= t("ABOUT.p") %>
          </p>
          <a
            data-aos="fade-right"
            data-aos-duration="600"
            data-aos-delay="100"
            href="/<%=lang()%>"
          >
            <button class="btn"><%= t("ABOUT.btn") %></button>
          </a>
        </div>
      </div>
    </section>

    <!-- VISION -->
    <section id="vision">
      <div class="container">
        <!-- header -->
        <header>
          <div class="left">
            <h1
              class="section-title"
              class="section-title"
              data-aos="fade-right"
              data-aos-duration="600"
            >
              <%= t("VISION.name") %>
            </h1>
            <h1
              class="title"
              data-aos="fade-right"
              data-aos-duration="600"
              class="title"
            >
              <%= t("VISION.h1") %> <span><%= t("VISION.span") %></span>
            </h1>
            <p
              data-aos="fade-right"
              data-aos-duration="600"
              data-aos-delay="100"
            >
              <%= t("VISION.p") %>
            </p>
            <a
              data-aos="fade-right"
              data-aos-duration="600"
              data-aos-delay="100"
              href="/<%=lang()%>"
            >
              <button class="btn"><%= t("VISION.btn") %></button>
            </a>
          </div>
          <img
            class="right"
            data-aos="flip-right"
            data-aos-duration="900"
            data-aos-delay="100"
            src="<%= images.VISION.main_img %>"
            alt="el-nour trading"
          />
        </header>
      </div>
    </section>

    <!-- VALUES -->
    <section id="values">
      <div class="container">
        <!-- values -->
        <div class="card-cont" data-aos="fade-up" data-aos-duration="600">
          <div class="icon">
            <img class="icon-img" src="./icons/diamond.svg" alt="our values" />
          </div>
          <div class="card">
            <div class="card-face front">
              <h1 class="title">
                <%= t("VALUES.values-card.h1") %>
                <span><%= t("VALUES.values-card.span") %></span>
              </h1>
              <p class="view-btn view-more">
                <%= t("VALUES.values-card.more-btn") %>
              </p>
            </div>
            <div class="card-face back">
              <p><%= t("VALUES.values-card.p") %></p>
              <p class="view-btn view-less">
                <%= t("VALUES.values-card.less-btn") %>
              </p>
            </div>
          </div>
        </div>
        <!-- mission -->
        <div
          class="card-cont"
          data-aos="fade-up"
          data-aos-duration="600"
          data-aos-delay="100"
        >
          <div class="icon">
            <img class="icon-img" src="./icons/mission.svg" alt="our mission" />
          </div>
          <div class="card">
            <div class="card-face front">
              <h1 class="title">
                <%= t("VALUES.mission-card.h1") %>
                <span><%= t("VALUES.mission-card.span") %></span>
              </h1>
              <p class="view-btn view-more">
                <%= t("VALUES.mission-card.more-btn") %>
              </p>
            </div>
            <div class="card-face back">
              <p><%= t("VALUES.mission-card.p") %></p>
              <p class="view-btn view-less">
                <%= t("VALUES.mission-card.less-btn") %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- HISTORY -->
    <section id="history">
      <!-- Swiper -->
      <div class="swiper-container mySwiper-history">
        <div class="swiper-wrapper">
          <!-- slide 1 -->
          <div
            class="swiper-slide"
            style="background-image: url('<%= images.HISTORY.slide1 %>')"
          >
            <div class="container">
              <h1 data-aos="zoom-out-down" data-aos-duration="500">
                <%= t("HISTORY.slide1.date") %>
              </h1>
              <h2 data-aos="zoom-out-down" data-aos-duration="700">
                <%= t("HISTORY.slide1.h1") %>
              </h2>
              <p
                data-aos="zoom-out-down"
                data-aos-duration="700"
                data-aos-delay="100"
              >
                <%= t("HISTORY.slide1.p") %>
              </p>
            </div>
          </div>
          <!-- slide 2 -->
          <div
            class="swiper-slide"
            style="background-image: url('<%= images.HISTORY.slide2 %>')"
          >
            <div class="container">
              <h1><%= t("HISTORY.slide2.date") %></h1>
              <h2><%= t("HISTORY.slide2.h1") %></h2>
              <p><%= t("HISTORY.slide2.p") %></p>
            </div>
          </div>
          <!-- slide 3 -->
          <div
            class="swiper-slide"
            style="background-image: url('<%= images.HISTORY.slide3 %>')"
          >
            <div class="container">
              <h1><%= t("HISTORY.slide2.date") %></h1>
              <h2><%= t("HISTORY.slide2.h1") %></h2>
              <p><%= t("HISTORY.slide2.p") %></p>
            </div>
          </div>
          <!-- slide 4 -->
          <div
            class="swiper-slide"
            style="background-image: url('<%= images.HISTORY.slide4 %>')"
          >
            <div class="container">
              <h1><%= t("HISTORY.slide4.date") %></h1>
              <h2><%= t("HISTORY.slide4.h1") %></h2>
              <p><%= t("HISTORY.slide4.p") %></p>
            </div>
          </div>
          <!-- slide 5 -->
          <div
            class="swiper-slide"
            style="background-image: url('<%= images.HISTORY.slide5 %>')"
          >
            <div class="container">
              <h1><%= t("HISTORY.slide5.date") %></h1>
              <h2><%= t("HISTORY.slide5.h1") %></h2>
              <p><%= t("HISTORY.slide5.p") %></p>
            </div>
          </div>
        </div>
        <div
          data-aos="fade-left"
          data-aos-duration="500"
          class="swiper-pagination-history"
        ></div>
      </div>
    </section>

    <section id="profile">
      <div class="container">
        <!-- header -->
        <header>
          <h1
            class="title"
            data-aos="fade-up"
            data-aos-duration="600"
            class="title"
          >
            <%= t("PROFILE.h1") %> <span><%= t("PROFILE.span") %></span>
          </h1>

          <div class="cards-cont">
            <% for(brochure of brochures) { %>
            <div
              class="card"
              data-aos="zoom-out-down"
              data-aos-duration="800"
              data-aos-delay="100"
            >
              <div class="cover">
                <a href="<%= brochure.file %>" download="<%= brochure.file %>">
                  <button class="btn">
                    <i class="fa-solid fa-file-arrow-down"></i>
                  </button>
                </a>
                <img src="<%= brochure.cover %>" alt="" />
                <img src="./imgs/grady_bg.png" alt="" />
              </div>
              <div class="details">
                <h1><%= brochure.title %></h1>
              </div>
            </div>
            <% } %>
          </div>
          <!-- end of MAIN ELEMENT -->
          <a data-aos="fade-up" data-aos-duration="600" href="/<%=lang()%>">
            <button class="btn"><%= t("PROFILE.btn") %></button>
          </a>
        </header>
      </div>
    </section>

    <!-- BANNER -->
    <%- include("./parts/banner.ejs") %>

    <!-- FOOTER -->
    <%- include("./parts/footer.ejs",{active:"co-profile"}) %>

    <!-- Main Scripts -->
    <script src="./js/phoneNavbar.js"></script>
    <script src="./js/cardsHandler.js"></script>
    <!-- AOS Library -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Initialize Swipers-->
    <script>
      // History swipper
      var historySwiper = new Swiper(".mySwiper-history", {
        direction: "vertical",
        slidesPerView: 1,
        spaceBetween: 30,
        autoplay: true,
        // speed:100,
        delay: 0,
        pagination: {
          el: ".swiper-pagination-history",
          clickable: true,
        },
        allowTouchMove: window.innerWidth > 768,
        grabCursor: window.innerWidth > 768,
      });
    </script>
  </body>
</html>
