<% function lang(){ return `?lang=${currentLocale}` } %>
<footer id="footer">
  <!-- circles -->
  <div class="circle right"></div>
  <div class="circle left"></div>
  <!-- container -->
  <div class="container">
    <div class="top">
      <img src="<%= images.FOOTER.logo %>" alt="el-nour trading" />
      <!-- list -->
      <ul>
        <li>
          <a href="<%= base %><%=lang()%>#home" class="active"
            ><%= t("FOOTER.footer_elements.a1") %></a
          >
        </li>
        <li>
          <a href="<%= base %><%=lang()%>#about"
            ><%= t("FOOTER.footer_elements.a2") %></a
          >
        </li>
        <li>
          <a href="/profile<%=lang()%>"
            ><%= t("FOOTER.footer_elements.a3") %></a
          >
        </li>
        <li>
          <a href="<%= base %><%=lang()%>#services"
            ><%= t("FOOTER.footer_elements.a4") %></a
          >
        </li>
        <li>
          <a href="<%= base %><%=lang()%>#gallery"
            ><%= t("FOOTER.footer_elements.a5") %></a
          >
        </li>
        <li><a href="#contact"><%= t("FOOTER.footer_elements.a6") %></a></li>
      </ul>
    </div>
    <!-- just for styling -->
    <div class="separator"></div>
    <!-- bottom -->
    <p><%= t("FOOTER.p") %></p>
  </div>
</footer>
