<% function lang(){ return `?lang=${currentLocale}` } %>
<footer id="footer">
  <!-- circles -->
  <div class="circle right"></div>
  <div class="circle left"></div>
  <!-- container -->
  <div class="container">
    <div class="top">
      <img src="../../<%= images.FOOTER.logo %>" alt="el-nour trading" />
      <!-- list -->
      <ul class="main-ul">
        <li>
          <a
            href="/<%=lang()%>"
            class="<%= active=='home' ? 'active' : 'inactive' %>"
            ><%= t("NAVBAR.ele1.title") %></a
          >
        </li>

        <li>
          <a
            href="/vision<%=lang()%>"
            class="<%= active=='co-profile' ? 'active' : 'inactive' %>"
            ><%= t("NAVBAR.ele2.title") %></a
          >
        </li>
        <li>
          <a
            href="/commodity<%=lang()%>"
            class="<%= active=='commodity' ? 'active' : 'inactive' %>"
            ><%= t("NAVBAR.ele3.title") %></a
          >
        </li>
        <li>
          <a
            href="/gallery<%=lang()%>"
            class="<%= active=='gallery' ? 'active' : 'inactive' %>"
            ><%= t("NAVBAR.ele4") %></a
          >
        </li>
        <li>
          <a href="/careers<%=lang()%>"><%= t("NAVBAR.ele7") %></a>
        </li>
        <li>
          <a
            href="/blog<%=lang()%>"
            class="<%= active=='news' ? 'active' : 'inactive' %>"
            ><%= t("NAVBAR.ele5") %></a
          >
        </li>
        <li>
          <a
            href="/contact<%=lang()%>"
            class="<%= active=='contact' ? 'active' : 'inactive' %>"
            ><%= t("NAVBAR.ele6") %></a
          >
        </li>
      </ul>
    </div>
    <!-- just for styling -->
    <div class="separator"></div>
    <!-- bottom -->
    <p><%= t("FOOTER.p") %></p>
  </div>
</footer>
