<% function lang(){ return `?lang=${currentLocale}` } %>
<!-- navbar -->
<nav dir="ltr">
  <!-- logo -->
  <div
    style="display: flex; justify-items: center; align-items: center; gap: 14px"
  >
    <a href="/<%= lang()%>">
      <img src="<%= images.NAVBAR.logo %>" alt="el-nour trading" />
    </a>
  </div>
  <!-- list -->
  <ul class="main-ul">
    <li>
      <a href="/<%= lang()%>">
        <!-- <i class="fa-solid fa-chevron-down drop-down-icon"></i> -->
        <%= t("NAVBAR.ele1.title") %></a
      >
    </li>

    <li class="drop-down-item">
      <a href="#" class="main-a" route="vision" lang="<%= lang()%>">
        <i class="fa-solid fa-chevron-down drop-down-icon"></i>
        <%= t("NAVBAR.ele2.title") %></a
      >
      <ul class="sub-list">
        <li>
          <a href="/vision#profile"><%= t("NAVBAR.ele2.sub2") %></a>
        </li>
        <li>
          <a href="/vision#about"><%= t("NAVBAR.ele2.sub1") %></a>
        </li>
        <li>
          <a href="/vision#values"><%= t("NAVBAR.ele2.sub3") %></a>
        </li>
        <li>
          <a href="/vision#history"><%= t("NAVBAR.ele2.sub4") %></a>
        </li>
      </ul>
    </li>
    <li class="drop-down-item">
      <a href="#" class="main-a" route="commodity" lang="<%= lang()%>">
        <i class="fa-solid fa-chevron-down drop-down-icon"></i>
        <%= t("NAVBAR.ele3.title") %></a
      >
      <ul class="sub-list">
        <li>
          <a href="/commodity"><%= t("NAVBAR.ele3.sub1") %></a>
        </li>
        <li>
          <a href="/commodity#transportation"><%= t("NAVBAR.ele3.sub2") %></a>
        </li>
      </ul>
    </li>
    <li>
      <a
        href="/gallery<%=lang()%>"
        class="<%= active=='gallery' ? 'active' : 'inactive' %>"
      >
        <%= t("NAVBAR.ele4") %>
      </a>
    </li>
    <li>
      <a
        href="/blog<%=lang()%>"
        class="<%= active=='news' ? 'active' : 'inactive' %>"
        ><%= t("NAVBAR.ele5") %></a
      >
    </li>
    <li>
      <a
        href="/contact<%=lang()%>"
        class="<%= active=='contact' ? 'active' : 'inactive' %>"
        ><%= t("NAVBAR.ele6") %></a
      >
    </li>
    <li class="image-li">
      <% if(currentLocale=="en"){%>
      <a lang="<%= currentLocale %>">
        <img src="../../<%= images.NAVBAR.ar_icon %>" alt="" />
      </a>
      <%} else {%>
      <a lang="<%= currentLocale %>">
        <img src="../../<%= images.NAVBAR.en_icon %>" alt="" />
      </a>
      <%} %>
    </li>
  </ul>
  <!-- menu toggle -->
  <div class="toggle-icon">
    <div class="top"></div>
    <div class="middle"></div>
    <div class="bottom"></div>
  </div>
</nav>
<ul class="nav-phone">
  <li>
    <a href="/<%= lang()%>">
      <!-- <i class="fa-solid fa-chevron-down drop-down-icon"></i> -->
      <%= t("NAVBAR.ele1.title") %>
    </a>
  </li>

  <li class="drop-down-item">
    <a href="#">
      <i class="fa-solid fa-chevron-down drop-down-icon"></i>
      <%= t("NAVBAR.ele2.title") %>
    </a>
    <ul class="sub-list">
      <li>
        <a href="/vision#about"><%= t("NAVBAR.ele2.sub1") %></a>
      </li>
      <li>
        <a href="/vision"><%= t("NAVBAR.ele2.sub2") %></a>
      </li>
      <li>
        <a href="/vision#values"><%= t("NAVBAR.ele2.sub3") %></a>
      </li>
      <li>
        <a href="/vision#history"><%= t("NAVBAR.ele2.sub4") %></a>
      </li>
    </ul>
  </li>

  <li class="drop-down-item">
    <a href="#">
      <i class="fa-solid fa-chevron-down drop-down-icon"></i>
      <%= t("NAVBAR.ele3.title") %>
    </a>
    <ul class="sub-list">
      <li>
        <a href="/commodity"><%= t("NAVBAR.ele3.sub1") %></a>
      </li>
      <li>
        <a href="/commodity#transportation"><%= t("NAVBAR.ele3.sub2") %></a>
      </li>
    </ul>
  </li>

  <li><a href="/gallery<%=lang()%>"><%= t("NAVBAR.ele4") %></a></li>

  <li><a href="/blog<%= lang()%>"><%= t("NAVBAR.ele5") %></a></li>

  <li><a href="/contact<%=lang()%>"><%= t("NAVBAR.ele6") %></a></li>

  <li class="image-li">
    <% if(currentLocale=="en"){%>
    <a href="/?lang=ar">
      <img src="<%= images.NAVBAR.ar_icon %>" alt="" />
    </a>
    <%} else {%>
    <a href="/?lang=en">
      <img src="<%= images.NAVBAR.en_icon %>" alt="" />
    </a>
    <%} %>
  </li>
</ul>
<script src="./js/navDropDown.js"></script>
<script>
  const langHref = document.querySelector(".image-li a");
  const pathName = location.pathname;
  let currentLang = langHref.getAttribute("lang");
  currentLang = currentLang == "en" ? "ar" : "en";
  langHref.setAttribute("href", `${pathName}?lang=${currentLang}`);
</script>
