<!-- navbar -->
<nav>
  <!-- logo -->
  <div
    style="display: flex; justify-items: center; align-items: center; gap: 14px"
  >
    <a href="/">
      <img src="<%= images.NAVBAR.logo %>" alt="el-nour trading" />
    </a>
  </div>
  <!-- list -->
  <ul class="main-ul">
    <li>
      <a href="<%= base %>#home" class="active"
        ><%= t("NAVBAR.nav_elements.a1") %></a
      >
    </li>
    <li><a href="<%= base %>#about"><%= t("NAVBAR.nav_elements.a2") %></a></li>
    <li><a href="/profile"><%= t("NAVBAR.nav_elements.a3") %></a></li>
    <li>
      <a href="<%= base %>#services"><%= t("NAVBAR.nav_elements.a4") %></a>
    </li>
    <li>
      <a href="<%= base %>#gallery"><%= t("NAVBAR.nav_elements.a5") %></a>
    </li>
    <li><a href="#contact"><%= t("NAVBAR.nav_elements.a6") %></a></li>
    <li class="image-li">
      <% if(currentLocale=="en"){%>
      <a href="/?lang=ar">
        <img src="<%= images.NAVBAR.ar_icon %>" alt="" />
      </a>
      <%} else {%>
      <a href="/?lang=en">
        <img src="<%= images.NAVBAR.en_icon %>" alt="" />
      </a>
      <%} %>
    </li>
  </ul>
  <!-- menu toggle -->
  <div class="toggle-icon">
    <div class="top"></div>
    <div class="middle"></div>
    <div class="bottom"></div>
  </div>
</nav>
<ul class="nav-phone">
  <li>
    <a href="<%= base %>#home" class="active"
      ><%= t("NAVBAR.nav_elements.a1") %></a
    >
  </li>
  <li><a href="<%= base %>#about"><%= t("NAVBAR.nav_elements.a2") %></a></li>
  <li><a href="/profile"><%= t("NAVBAR.nav_elements.a3") %></a></li>
  <li><a href="<%= base %>#services"><%= t("NAVBAR.nav_elements.a4") %></a></li>
  <li><a href="<%= base %>#gallery"><%= t("NAVBAR.nav_elements.a5") %></a></li>
  <li><a href="#contact"><%= t("NAVBAR.nav_elements.a6") %></a></li>
  <li class="image-li">
    <% if(currentLocale=="en"){%>
    <a href="/?lang=ar">
      <img src="<%= images.NAVBAR.ar_icon %>" alt="" />
    </a>
    <%} else {%>
    <a href="/?lang=en">
      <img src="<%= images.NAVBAR.en_icon %>" alt="" />
    </a>
    <%} %>
  </li>
</ul>
